player-connection-mode=Listen
player-connection-guid=209308702
player-connection-debug=1
player-connection-project-name=MultiPlayer
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.201
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=76f1ec4ef21b4636bba58f53ebe11933
